#terraform_files

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.zip

# Crash log files
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc